{% extends "base.html" %}

{% block title %}
Inicio - Mis finanzas
{% endblock %}

{% block page_title %}
Mis Finanzas
{% endblock %}

{% block content %}
    <!-- Agregar el icono de modo en la parte superior izquierda -->
    <div class="theme-toggle" style="position: absolute; top: 10px; left: 10px;">
        <i id="icon-mode" class="fas fa-sun"></i> <!-- Icono de sol por defecto -->
    </div>
    <div class="container">
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="/ingresos">Agregar Ingreso</a></li>
                <li class="nav-item"><a class="nav-link" href="/egresos">Agregar Egreso</a></li>
                <li class="nav-item"><a class="nav-link" href="/transacciones">Ver Transacciones</a></li>
                <li class="nav-item"><a href="https://m4r14n023.github.io/cotizadordolarhoy/" target="_blank" class="btn btn-info">Dólar</a></li>
                <li class="nav-item">
                    <form action="{{ url_for('logout') }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
                    </form>             
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}









