{% extends "base.html" %}

{% block title %}
Agregar Ingreso - Mis Finanzas
{% endblock %}

{% block page_title %}
Agregar Ingreso
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-success" role="alert">
                    {% for category, message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form action="/ingresos" method="POST">
            <div class="mb-3">
                <label for="monto" class="form-label">Monto:</label>
                <input type="number" class="form-control" name="monto" required>
            </div>

            <div class="mb-3">
                <label for="medio_pago" class="form-label">Modo de Cobro:</label>
                <select name="medio_pago" class="form-select" required>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Transferencia">Transferencia</option>
                </select>
            </div>

            <div class="mb-3" id="banco-entidad" style="display: none;">
                <label for="banco_entidad" class="form-label">Entidad (si es Transferencia):</label>
                <select name="banco_entidad" class="form-select">
                    <option value="">Seleccionar Banco</option>
                    {% for banco in bancos %}
                        <option value="{{ banco }}">{{ banco }}</option>
                    {% endfor %}
                </select>
                <a href="/agregar_banco" class="btn btn-secondary mt-3">Agregar nuevo banco</a>
            </div>

            <button type="submit" class="btn btn-primary">Agregar Ingreso</button>
        </form>
        <a href="/transacciones" class="btn btn-secondary mt-3">Transacciones</a>
        <a href="/" class="btn btn-secondary mt-3">Inicio</a>
    </div>

    <script>
        document.querySelector('select[name="medio_pago"]').addEventListener('change', function() {
            if (this.value === 'Transferencia') {
                document.getElementById('banco-entidad').style.display = 'block';
            } else {
                document.getElementById('banco-entidad').style.display = 'none';
            }
        });
    </script>
{% endblock %}




