{% extends "base.html" %}

{% block title %}
Transacciones - Mis Finanzas
{% endblock %}

{% block page_title %}
Transacciones
{% endblock %}

{% block content %}
    <div class="container">

        <!-- Cuadro de saldo -->
        <div class="alert {{ 'alert-danger' if saldo < 0 else 'alert-info' }}" role="alert">
            <strong>Saldo Total:</strong> <span id="saldo_total">{{ saldo }}</span>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Operación</th>
                    <th>Tipo</th>
                    <th>Monto</th>
                    <th>Categoría</th>
                    <th>Medio de Pago</th>
                    <th>Banco</th>
                    <th>Cuotas</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for transaccion in transacciones %}
                    <tr>
                        <td>{{ transaccion[0] }}</td> <!-- Numero de Operación -->
                        <td>{{ transaccion[1] }}</td> <!-- Tipo (Ingreso/Egreso) -->
                        <td>{{ transaccion[2] }}</td> <!-- Monto -->
                        <td>{{ transaccion[3] }}</td> <!-- Categoría -->
                        <td>{{ transaccion[4] }}</td> <!-- Medio de Pago -->
                        <td>{{ transaccion[5] }}</td> <!-- Banco/Entidad -->
                        <td>{{ transaccion[6] }}</td> <!-- Cuotas -->
                        <td>{{ transaccion[7] }}</td> <!-- Fecha -->
                        <td>
                            {% if transaccion[1] == 'Egreso' %}
                                <!-- Botón para editar la transacción (solo si es un Egreso) -->
                                <a href="/editar_egreso/{{ transaccion[0] }}" class="btn btn-warning btn-sm">Editar</a>
                            {% endif %}
                        </td>
                       
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        

        <h2 class="mt-4">Repartición de Egresos</h2>
        
        <!-- Modificamos el tamaño del canvas a un 70% del original -->
        <div class="grafico-container">
            <canvas id="graficoTorta"></canvas>
        </div>

        <a href="/" class="btn btn-secondary mt-3">Inicio</a>
                <!-- Botón para borrar todos los egresos -->
                <form action="{{ url_for('borrar_todas_transacciones') }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas borrar todas las transacciones?');">
                    <button type="submit" class="btn btn-danger mt-3">Borrar todas las Transacciones</button>
                </form>
                
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Obtener los datos de egresos desde el backend
        const egresosData = JSON.parse('{{ egresos_por_categoria | tojson }}');

        const labels = Object.keys(egresosData);
        const data = Object.values(egresosData);

        // Crear el gráfico de torta
        const ctx = document.getElementById('graficoTorta').getContext('2d');
        const myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 2,
                    hoverOffset: 10  // Añadimos un efecto de hover para hacer que se vea 3D
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                }
            }
        });
    </script>
{% endblock %}






